h1 {
  color: red;
}
h2 {
  color: green;
}
footer {
    background-color: #000; /* Svart bakgrundsfärg */
    color: #fff; /* Vit textfärg */
    padding: 10px;
    text-align: center;
}
body {
    text-align: center;
}
